body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;  /* Hide horizontal overflow */
  overflow-y: visible; /* Allow vertical overflow to be visible */
}


.dashboard-container {
  display: flex;
}

.viebeg-dashboard-sidebar {
          width: 20%;
          background-color: #eff6ff;
          padding: 20px;
          color: #575960;
          padding-top: 200px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          transition: width 0.3s; /* Add smooth transition for width changes */
        }
        
        /* Viebeg Dashboard Navbar Styles */
        .viebeg-dashboard-navbar {
          width: 100%;
          background-color: #ffffff;
          color: #333;
          padding: 5px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Add box shadow */
        }
        
        /* Navbar Logo Styles */
        .viebeg-dashboard-navbar-logo {
          display: flex;
          align-items: center;
        }
        
        .logo {
          width: 100px; /* Adjust the size as needed */
          margin-left: 20px; /* Adjust the spacing as needed */
        }
        
        /* Settings Dropdown Styles */
        .settings-dropdown {
          display: flex;
          align-items: center;
          margin-right: 50px; /* Adjust the spacing as needed */
          cursor: pointer; /* Add cursor pointer for better interaction */
          position: relative; /* Position relative for absolute positioning of dropdown content */

        }
        
        
        .icon-container {
          display: flex;
          align-items: center;
          margin-right: 30px; /* Adjust the spacing between icons as needed */
        }
        
        .settings-icon {
          font-size: 22px;
          margin-left: 10px; /* Adjust the spacing as needed */
        }
        
        
        /* Dropdown Content Styles */
        .dropdown-content  {
          position: absolute;
          top: 100%; /* Position below the arrow */
          right: 250px;
          background-color: #fff;
          font-weight: 500;
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          display: flex;
          flex-direction: column;
          min-width: 150px;
          font-size: 12px;
          z-index: 999;
          padding: 20px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          transform: translateY(2px);
          transform-origin: top left;
          transition: opacity 0.3s, visibility 0.3s, transform 0.3s;       }
        
          
/* Updated Dropdown Profile Content Styles */
.dropdown-profile-content {
          position: absolute;
          top: 100%; /* Position below the arrow */
          right: 0;
          background-color: #fff;
          font-weight: 500;
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          display: flex;
          flex-direction: column;
          min-width: 220px;
          font-size: 12px;
          z-index: 900;
          padding: 20px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          transform: translateY(2px);
          transform-origin: top left;
          transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
        }
        
        /* Updated Dropdown Profile Content Item Styles */
        .dropdown-profile-content div,
        .dropdown-profile-content p {
          padding: 10px;
          cursor: pointer;
          transition: background-color 0.3s; /* Add transition for background color change */
        }
        
        /* Add bottom border to Profile and top border to Log out */
        .dropdown-profile-content div:first-child {
          border-bottom: 1px solid #eee;
        }
        
        
        .dropdown-profile-content div:last-child {
          border-top: 1px solid #eee;
        }
        
        /* Change background color on hover */
        .dropdown-profile-content div:hover,
        .dropdown-profile-content p:hover {
          background-color: #f3f4f6;
        }
        
        /* Other styles remain the same */
        

        .dropdown-content div {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background-color 0.3s; /* Add transition for background color change */
}


.dropdown-content div:hover {
  background-color: #f3f4f6; /* Change background color on hover */
}

        
        
        /* Profile Icon Styles */
        .profile-icon {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 15px;
          background-color: #eee;
        }
        
        .profile-icon img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        
        /* Dropdown Arrow Styles */
        .dropdown-arrow {
          font-size: 12px;
          margin-left: 10px; /* Adjust the spacing as needed */
        }
        .dropdown-arrow.up {
          transform: rotate(180deg);
        }
        
          /* Dropdown Arrow Styles */
          .set-dropdown-arrow {
            font-size: 12px;
            margin-left: 10px; /* Adjust the spacing as needed */
          }
  
          .set-dropdown-arrow.up {
            transform: rotate(180deg);
          }
        
        /* Profile Info Styles */
        .profile-info {
          display: flex;
          align-items: center;
          margin-right: 10px; /* Adjust the spacing as needed */
        }
        
        /* Profile Text Styles */
        .profile-text {
          display: flex;
          flex-direction: column;
          font-size: 15px;
        }
        
        .profile-name {
          font-weight: bold;
        }
        
        .profile-email {
          color: #666;
        }
 

.logout-item {
          display: flex;
          align-items: center;
          padding: 10px;
          cursor: pointer;
          transition: background-color 0.3s; /* Add transition for background color change */
        }
        
        .logout-icon {
          font-size: 20px; /* Adjust the size of the icon as needed */
          margin-right: 10px; /* Adjust the spacing between icon and text as needed */
          color: red;
        }
        
        .logout-text {
          color: red; /* Set the text color to red */
        }
        
        /* Change background color on hover */
        .logout-item:hover {
          background-color: #f3f4f6;
        }
 
        
        /* Sidebar Header Styles */
        .sidebar-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          margin-top: -180px;
        }
        
        /* Sidebar Filters Styles */
        .sidebar-filters {
          margin: 0;
          font-size: 16px;
          color: #333;
          margin-right: 15px; /* Adjust the margin-right value to add space between filters */
          font-weight: 500;
        }
        
        /* Reset Button Styles */
        .reset-button {
          padding: 8px 16px;
          background-color: #93c5fd;
          color: #fff;
          border: none;
          font-size: 12px;
          border-radius: 4px;
          cursor: pointer;
          margin-left: 10px; /* Adjust the margin-left value to add space between filters and the reset button */
        }        

        /* Updated CSS for Dropdown Content */
.dropdown-content div.active,
.dropdown-content div:hover {
  background-color: #f3f4f6; /* Change background color on hover */
}

/* Updated CSS for Dropdown Profile Content */
.dropdown-profile-content div.active,
.dropdown-profile-content div:hover {
  background-color: #f3f4f6; /* Change background color on hover */
}


.dropdown-arrow.up {
          transform: rotate(180deg);
        }
        


   /* Search Input Styles */
.search-input {
          width: 90%;
          padding: 12px; /* Increased padding */
          margin-bottom: 20px; /* Increased margin */
          margin-top: 30px;
          box-sizing: border-box;
          border: 0;
          outline: 0;
          border-radius: 5px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        
        /* Other Input Styles */
        .sidebar-input {
          width: 90%;
          padding: 12px; /* Increased padding */
          margin-bottom: 10px; /* Increased margin */
          box-sizing: border-box;
          border: 0;
          outline: 0;
          border-radius: 5px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          font-size: 12px;
          font-weight: bold;
          text-align: center; /* Center the placeholder text */
        }
        

/* Add these styles to your existing CSS or update the existing styles */
.select-icon {
          position: absolute;
          left: 10px; /* Adjust the left position based on your design */
          top: 30%;
          transform: translateY(-50%);
          font-size: 15px; /* Adjust the font size as needed */
          color: #555; /* Adjust the icon color */
        }
        
        /* Adjust the styles for the select container to provide space for the icon */
        .select-container {
          position: relative;
          margin-bottom: 10px; /* Adjust the margin as needed */
          align-items: center;
        }
        
        /* Adjust the styles for the sidebar-input to accommodate the icon */
        .sidebar-input {
          padding-left: 40px; /* Adjust the padding to make space for the icon */
        }
        
        
        .viebeg-dashboard-main-content {
          flex-grow: 1;
          padding: 20px;
        }

    

        .selected-item-heading {
          display: flex;
          align-items: center;
        }
        
        .selected-item-heading h2 {
          margin-right: 10px;
        }
        
        .selected-item-heading p {
          margin: 0;
        }
             

        .viebeg-dashboard-main-content {
          text-align: center;
          padding: 0px;
          background-color: #f5f5f5;
          height: 100vh;
           width: 100%;
        }
        
        .dashboard-title {
          font-size: 36px;
          margin-bottom: 10px;
          color: #333; /* Adjust the color as needed */
        }
        
        .dashboard-description {
          font-size: 16px;
          color: #555; /* Adjust the color as needed */
          margin-bottom: 20px;
        }
        
        .divider {
          width: 200px;
          height: 1px;
          background-color: #ccc; /* Adjust the color as needed */
          margin: 20px auto; /* Center the horizontal line and provide spacing */
        }
        
        
 





/* Existing styles */

/* Hamburger Menu Styles */
.hamburger-menu {
  display: none; /* Initially hide the hamburger icon on larger screens */
  cursor: pointer;
}

.hamburger-icon {
  font-size: 22px;
  color: #333;
  margin-right: 10px;
}



/* Media query for screens 768 pixels or smaller */
@media (max-width: 768px) {

  body {
    overflow-x: hidden;  /* Hide horizontal overflow */
    overflow-y: visible; /* Allow vertical overflow to be visible */
  }
  .viebeg-dashboard-navbar {
    justify-content: space-between; /* Adjust alignment for small screens */
  }



  .navbar-content {
    position: absolute;
    gap: 0;
    top: 60px; /* Adjust the top value based on your design */
    left: 100%;
    text-align: start;
    width: 100%;
    height: 25vh;
    transition: 0.7s ease-in-out;
    background-color: #ffffff; /* Set the background color for the navbar */
    padding: 10px;
    z-index: 900;
  }

  .navbar-content.open {
    left: 0;
    height: 25vh;
  }

  .settings-dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 30px;
    margin-top: 30px;
    cursor: pointer;
    position: relative;
   
  }


  .profile-info {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-right: 10px;
    border-bottom: 1px solid #ccc; /* Add a bottom line */
    padding-bottom: 10px; /* Adjust as needed */
  }
  
  .icon-container {
    display: flex;
    align-items: center;
    margin-right: 0; /* Adjust the spacing between icons as needed */
    border-bottom: 1px solid #ccc; /* Add a bottom line */
    padding-bottom: 10px; /* Adjust as needed */
  }

  .search-input {
    display: none; /* Hide search input and sidebar by default */
  }

  .dropdown-content  {
    position: absolute;
    top: 30%; /* Position below the arrow */
    right: 0;
    background-color: #fff;
    font-weight: 500;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-width: 20px;
    font-size: 12px;
    z-index: 900;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: translateY(2px);
    transform-origin: top left;
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s; 
  }


  .settings-icon {
    font-size: 22px;
    margin-right: 10px; /* Adjust the spacing as needed */
  }

  .dropdown-arrow {
    font-size: 12px;
    margin-left: 15px; /* Adjust the spacing as needed */
  }
  
  .set-dropdown-arrow {
    font-size: 12px;
    margin-right: 10px; /* Adjust the spacing as needed */
  }

     .logo {
          width: 90px; /* Adjust the size as needed */
          margin-left: 10px; /* Adjust the spacing as needed */
        }

  .hamburger-menu {
    display: block; /* Show the hamburger menu icon */
  }

  .dashboard-container.overlay-open .viebeg-dashboard-sidebar {
    display: none;
  }

 .dashboard-container.overlay-open .viebeg-dashboard-main-content {
    width: 100%; /* Adjust the main content width when the sidebar is hidden */
    margin-left: 0; /* Add this line to remove any left margin when the menu is closed */
  }
}


/* Add this to your existing CSS or update the existing styles */
.close-button {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.close-icon {
  font-size: 15px;
  color: #333;
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity as needed */
  top: 60px; /* Adjust the top position based on your navbar height */
  left: 0;
  width: 100%;
  height: calc(100% - 60px); /* Adjust the height based on your navbar height */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  display: none; /* Add this line to initially hide the overlay */
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  height: calc(100% - 60px); /* Adjust the height based on your navbar height */
  display: block; /* Add this line to show the overlay when it is open */
}

/* ... (Your existing styles) */



/* YourComponent.css */


/* Add styles for larger screens */
@media (min-width: 768px) {
  .dashboard-container {
    display: flex;
  }

  

  .viebeg-dashboard-main-content {
    width: 75%;
    /* Other styles for larger screens */
  }
}


/* Add styles for smaller screens */
@media (max-width: 767px) {
  .dashboard-container {
    flex-direction: column;
  }

  .viebeg-dashboard-sidebar,
  .viebeg-dashboard-main-content {
    width: 100%;
  }

  .viebeg-dashboard-sidebar {
    height: 200px; /* Adjust the height as needed for smaller screens */
    overflow-y: auto; /* Add this line to enable vertical scrolling if needed */
    /* Other styles for smaller screens */
  }
}


